$Using$ $list$:

In [1]:
names=['Ram','Sita','Laxman']
age=[25,22,20]

In [2]:
import pandas as pd

In [5]:
pd.DataFrame(data=zip(names,age))

        0   1
0     Ram  25
1    Sita  22
2  Laxman  20

In [4]:
pd.DataFrame(data=zip(names,age),
             columns=['Names','Age'])

    Names  Age
0     Ram   25
1    Sita   22
2  Laxman   20

In [7]:
data1=pd.DataFrame(data=zip(names,age),
             columns=['Names','Age'],
            index=['A','B','C'])


# data  columns   index

In [8]:
data1

    Names  Age
A     Ram   25
B    Sita   22
C  Laxman   20

In [ ]:
# will you able to create a data frame using list of items

In [9]:
data1.to_csv("C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Datafiles\\sample1.csv")

In [ ]:
list1=[i for i in range(200)]

In [10]:
import string

In [13]:
string.ascii_uppercase.split(',')

['ABCDEFGHIJKLMNOPQRSTUVWXYZ']

$Using$-$Dictionary$

In [16]:
dict1={"Col1":['Ram','Sita','Laxman'],
      "Col2":[25,22,20]}

dict1

{'Col1': ['Ram', 'Sita', 'Laxman'], 'Col2': [25, 22, 20]}

In [18]:
data2=pd.DataFrame(dict1)

# keys are defaults as columns

In [19]:
data2.to_csv("C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Datafiles\\sample2.csv")

In [ ]:
import os

\home\

In [ ]:
pd.D